image: node:16.15.0

before_script:
  - node -v
  - npm install
  - npm install --legacy-peer-deps

cache:
  paths:
    - node_modules
    - "packages/*/node_modules"

stages: 
  - test
  - lint
  - build

unit-test:
  stage: test
  script:
    - npm run test

lint-tinkin:
  stage: lint
  script:
    - npm run lint

build-code:
  stage: build
  script: 
    - npm run build
  artifacts:
    paths:
      - 'packages/*/lib'