image: node:16.15.0

before_script:
  - npm ci --cache .npm --prefer-offline
  - |
    {
      echo "@${CI_PROJECT_ROOT_NAMESPACE}:registry=${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/npm/"
      echo "${CI_API_V4_URL#https?}/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}"
    } | tee -a .npmrc

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm/

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

cache:
  paths:
    - node_modules
    - "packages/*/node_modules"

before_all:
  script: 
    - echo "Instalando dependencias"
    - npm install
    - npm install --legacy-peer-deps
  artifacts:
    paths:
      - node_modules/

stages: 
  - lint
  - test

lint-tinkin:
  stage: lint
  script:
    - npm run lint

unit-test:
  stage: test
  script:
    - npm run test

