image: node:16.15.0

before_script:
  - node -v
  - npm install --legacy-peer-deps

cache:
  paths:
    - node_modules
    - "packages/*/node_modules"

stages: 
  - test
  - lint
  - build

build-code:
  stage: build
  script: 
    - echo "Instalando dependencias"
    - npm install
  artifacts:
    paths:
      - node_modules/

lint-tinkin:
  stage: lint
  script:
    - npm run lint

unit-test:
  stage: test
  script:
    - npm run test

